
<button (click)="getUserPersonal()">Get UserPersonal</button>
<button (click)="navigateTo('/home')">Home</button>

@defer (on timer(3s)) {
@if (personalDetail$ | async; as personalDetails) {
  <table>
    <tr>
    <th>user name</th>
    <th>user email</th>
    </tr>
    @for(user of personalDetails;track user.name;let idx = $index){
    <tr>
      <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    </tr>
  }@empty {
    <tr>
      No Users
    </tr>
  }
  </table>
}
@else {
  <p>no users</p>
}
}
@placeholder {
  <p>User Section Loading....</p>
}
