<h3>rxjs operators</h3>
<p>RXJS creation operators</p>
creation operators are functions that can be used to create an Observable with some common predefined behavior or by joining other Observables
<ul>
  <li>from</li>
  <li>of</li>
  <li>interval</li>
  <li>fromEvent</li>
</ul>
<p>RXJS Join creation operators</p>
These are Observable creation operators that also have join functionality -- emitting values of multiple source Observables.
<ul>
  <li>combine latest</li>
  <li>concat</li>
  <li>fork join</li>
  <li>merge</li>
  <li>race</li>
  <li>zip</li>
</ul>
<p>RXJS Filtering operators</p>
<ul>
  <li>debounceTime</li>
  <li>debounceTime</li>
  <li>distinctUntilChanged</li>
  <li>filter</li>
  <li>take</li>
  <li>takeUntil</li>
</ul>
<p>RXJS Filtering operators</p>
<ul>
  <li>tap</li>
  <li>map</li>
  <li>bufferTime</li>
  <li>concatMap</li>
  <li>mergeMap</li>
  <li>switchMap</li>
  <li>scan</li>
</ul>
