<table>
  <thead>
    <tr>
      <th>S.No</th>
      <th>Concepts</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Host Binding/Listener</td>
      <td><a (click)="navigateTo('/user/hostlistener')">Link</a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Store</td>
      <td><a (click)="navigateTo('/user/store')">Link</a></td>
    </tr>
    <tr>
      <td>3</td>
      <td>obs nd sub</td>
      <td><a (click)="navigateTo('/observable')">Link</a></td>
    </tr>
    <tr>
      <td>4</td>
      <td>RXJS Operators</td>
      <td><a (click)="navigateTo('/rxjs')">Link</a></td>
    </tr>
    <tr>
      <td>5</td>
      <td>Signal</td>
      <td><a (click)="navigateTo('/signal')">Link</a></td>
    </tr>
    <tr>
      <td>6</td>
      <td>afterNextRender, afterRender</td>
      <td><a (click)="navigateTo('/lifecycle')">Link</a></td>
    </tr>
    <tr>
      <td>7</td>
      <td>Template Driven Form</td>
      <td><a (click)="navigateTo('/register')">Link</a></td>
    </tr>
    <tr>
      <td>8</td>
      <td>Reactive Form</td>
      <td><a (click)="navigateTo('/signup')">Link</a></td>
    </tr>
    <tr>
      <td>9</td>
      <td>Dependency Injection</td>
      <td><a (click)="navigateTo('/dependency-injection')">Link</a></td>
    </tr>
  </tbody>
</table>
